@tailwind base;
@tailwind components;
@tailwind utilities;


.buttons {
    display: flex;
    gap: 20px;
}

.search-bar {
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #1f2937;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9fafb;
}

table tr:hover {
    background-color: #f1f5f9;
}
.search-bar input {
    border: 1px solid #e2e8f0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    flex-grow: 1; /* Make input field take the available width */
}

.search-bar button {
    padding: 10px 20px;
    background-color: #1f2937;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #4b5563;
}
