@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Figtree', sans-serif;
}

.search-bar input {
    border: 1px solid #e2e8f0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #1f2937;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #4b5563;
}

.buttons a {
    text-decoration: none;
    color: white;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #1f2937;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: #4b5563;
}


